<template>
	<v-app class="grey lighten-4">
		<Navbar v-if="show" />
		<v-content class="mx-4">
			<router-view v-if="show" />
		</v-content>

		<v-content class="mx-4">
			<router-view v-if="!show" />
		</v-content>
	</v-app>
</template>

<script>
	import Navbar from "./components/Navbar";
	export default {
		components: { Navbar },
		computed: {
			show() {
				if (this.$store.state.auth.user) {
					return this.$route.path !== "/Auth";
				}
			},
			currentUser() {
				return this.$store.state.auth.user;
			}
		},
		methods: {
			logOut() {
				this.$store.dispatch("auth/logout");
				this.$router.push("/Auth");
			}
		}
	};
</script>
