@import "~@laylazi/bootstrap-rtl/dist/css/bootstrap-rtl.css";
@import "~vuetify-rtl/dist/vuetify.css";
@import '~@mdi/font/css/materialdesignicons.css';
@import '~font-awesome/css/font-awesome.css';
@import '~mdbootstrap/css/mdb.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~mdbvue/lib/mdbvue.css";
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import '~vuesax/dist/vuesax.css';
@import '~vue-material/dist/vue-material.css';
@import '~vue-material/dist/theme/default.css';

html, body {
	background-color: #fff;
	color: #636b6f;
  font-family: IranNastaliq, sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

@font-face {
	font-family: IranNastaliq;
	src: url('IranNastaliq.eot');
	src: url('IranNastaliq.eot?#iefix')
			  format('embedded-opentype'),
        url('IranNastaliq.woff2') format('woff2'),
        url('IranNastaliq.woff') format('woff'),
				url('IranNastaliq.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
