<template>
	<div id="app">
		<VApp id="inspire">
			<v-snackbar v-model="snackbarError" :timeout="4000" top color="red">
				<span class="text-right">{{snackbarText}}</span>
				<v-btn flat color="white" @click="snackbarError = false">
					<v-icon>close</v-icon>
				</v-btn>
			</v-snackbar>
			<v-snackbar v-model="snackbarSuccess" :timeout="4000" top color="green">
				<span class="text-right">{{snackbarText}}</span>
				<v-btn flat left color="white" @click="snackbarSuccess = false">
					<v-icon>close</v-icon>
				</v-btn>
			</v-snackbar>
			<v-content>
				<v-container fluid fill-height class="text-right">
					<v-layout align-right justify-center>
						<v-flex xs12 sm8 md4>
							<v-card class="elevation-10">
								<v-toolbar dark color="primary">
									<v-toolbar-title v-if="login">ورود</v-toolbar-title>
									<v-toolbar-title v-if="!login">ثبت نام</v-toolbar-title>
								</v-toolbar>
								<v-card-text>
									<v-form @submit.prevent="login? signin() : signup()" id="login-form">
										<v-label v-if="!login">نام</v-label>
										<v-text-field
											prepend-icon="person"
											name="name"
											v-model="user.name"
											type="text"
											:rules="nameRules"
											v-if="!login"
										/>
										<v-label>ایمیل</v-label>
										<v-text-field
											prepend-icon="email"
											name="email"
											v-model="user.email"
											type="text"
											:rules="emailRules"
										/>
										<v-label>رمزعبور</v-label>
										<v-text-field
											prepend-icon="lock"
											name="password"
											v-model="user.password"
											id="password"
											type="password"
											:rules="passwordRules"
										/>
									</v-form>
									<p class="text-xs-center primary--text" @click="login=true" v-if="!login">
										<a>من قبلا ثبت نام کردم</a>
									</p>
									<p class="text-xs-center primary--text" @click="login=false" v-if="login">
										<a>
											هنوز موفق به ثبت نام
											نشده ام
										</a>
									</p>
								</v-card-text>
								<v-card-actions>
									<v-spacer />
									<v-btn
										color="primary"
										v-if="login"
										type="submit"
										form="login-form"
										:loading="loading"
									>وارد شو</v-btn>
									<v-btn
										color="primary"
										v-if="!login"
										type="submit"
										form="login-form"
										:loading="loading"
									>ثبت نام کن</v-btn>
								</v-card-actions>
							</v-card>
						</v-flex>
					</v-layout>
				</v-container>
			</v-content>
		</VApp>
	</div>
</template>

<script>
	import User from "../models/user";

	export default {
		name: "Auth",
		computed: {
			loggedIn() {
				return this.$store.state.auth.status.loggedIn;
			}
		},
		data() {
			return {
				user: new User("", "", ""),
				submitted: false,
				successful: false,
				message: "",
				loading: false,
				login: true,
				nameRules: [
					v => {
						return v.length >= 2 || "لطفا بیشتر از سه کاراکتر وارد کنید";
					}
				],
				emailRules: [
					value => {
						const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
						return (
							pattern.test(value) || "لطفا ایمیل خودرا به صورت صحیح وار کنید."
						);
					}
				],
				passwordRules: [
					value => {
						return value.length >= 5 || "لطفا شش کاراکتر و بیشتر وارد کنید";
					}
				],
				snackbarError: false,
				snackbarText: "",
				snackbarSuccess: false
			};
		},
		mounted() {
			if (this.loggedIn) {
				this.$router.push("/dashboard");
			}
		},
		methods: {
			signup() {
				this.message = "";
				this.submitted = true;
				this.loading = true;
				this.$validator.validate().then(valid => {
					if (valid && this.user.name && this.user.email && this.user.password) {
						this.$store.dispatch("auth/register", this.user).then(
							data => {
								this.message = data.message;
								this.successful = true;
								this.loading = false;
								this.$router.push("/dashboard");
								this.snackbarSuccess = true;
								this.snackbarText = "ثبت نام با موفقیت انجام شد";
							},
							error => {
								this.message = error.message;
								this.snackbarError = true;
								this.snackbarText = "لطفا مجددا سعی کنید";
								this.successful = false;
							}
						);
					}
				});
			},
			signin() {
				this.loading = true;
				this.$validator.validateAll();

				if (this.errors.any()) {
					this.loading = false;
					return;
				}

				if (this.user.email && this.user.password) {
					this.$store.dispatch("auth/login", this.user).then(
						() => {
							this.snackbarSuccess = true;
							this.snackbarText = "با موفقیت وارد شدید";
							this.$router.push("/dashboard");
						},
						error => {
							this.loading = false;
							this.message = error.message;
							this.snackbarError = true;
							this.snackbarText = error.message;
						}
					);
				}
			}
		}
	};
</script>

<style scoped>
</style>