<template>
	<div class="Dashboard">
		<v-container>
			<v-snackbar v-model="snackbarSuccess" :timeout="4000" top color="green">
				<span class="text-right">{{snackbarText}}</span>
				<v-btn flat left color="white" @click="snackbarSuccess = false">
					<v-icon>close</v-icon>
				</v-btn>
			</v-snackbar>
			<v-layout row wrap>
				<v-flex>
					<h1 class="subheading grey--text text-lg-right">{{currentUser.user.name}} عزیز خوش آمدید</h1>
					<h1 class="subheading grey--text text-lg-right">لیست تمامی کاربران</h1>
					<v-card flat dark color="indigo" z-index="-1000">
						<v-data-table :headers="headers" :items="PersonContent" class="elevation-1">
							<template v-slot:items="props">
								<td class="text-sm-right">{{ props.item.id }}</td>
								<td class="text-xs-left">{{ props.item.username }}</td>
								<td class="text-xs-right">{{ props.item.first_name }}</td>
								<td class="text-xs-right">{{ props.item.last_name }}</td>
								<td class="text-xs-right">{{ props.item.phone }}</td>
								<td class="text-xs-left">{{ props.item.email }}</td>
							</template>
						</v-data-table>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
	import UserService from "../services/user.service";
	export default {
		name: "Dashboard",
		data() {
			return {
				tasks: [],
				userId: [],
				selected: [],
				snackbarText: "",
				snackbarSuccess: false,
				PersonContent: [],
				headers: [
					{
						text: "ردیف",
						align: "right",
						value: "id"
					},
					{ text: "نام کاربری", value: "username" },
					{ text: "نام ", value: "first_name" },
					{ text: "نام خانوادگی", value: "last_name" },
					{ text: "تلفن تماس", value: "phone" },
					{ text: "پست الکترونیکی", value: "email" }
				]
			};
		},
		computed: {
			currentUser() {
				return this.$store.state.auth.user;
			}
		},
		created() {
			if (this.loggedIn) {
				this.$router.push("/dashboard");
			}
		},
		mounted() {
			UserService.getPeople().then(
				response => {
					this.PersonContent = response.data;
				},
				error => {
					this.PersonContent = error.response.data.message;
				}
			);
			UserService.getTasks().then(
				response => {
					this.tasks = response.data;
				},
				error => {
					this.tasks = error.response.data.message;
				}
			);
		}
	};
</script>
