<template>
	<div class="Projects">
		<v-container>
			<h1 class="subheading grey--text text-lg-right">پروژه ها</h1>
			<v-card flat dark>
				<v-data-table :headers="headers" :items="projects" class="elevation-1 text-right">
					<template v-slot:items="props">
						<td class="text-sm-right">{{ props.item.id }}</td>
						<td class="text-xs-right">{{ props.item.user.name }}</td>
						<td class="text-xs-right">{{ props.item.user.email }}</td>
						<td class="text-xs-right">{{ props.item.name }}</td>
						<td class="text-xs-right">{{ props.item.description }}</td>
					</template>
				</v-data-table>
			</v-card>
		</v-container>
	</div>
</template>

<script>
	import axios from "axios";
	import UserService from "../services/user.service";
	export default {
		name: "Dashboard",

		data() {
			return {
				projects: [],
				headers: [
					{ text: "ردیف", align: "right", value: "id" },
					{ text: "نام کاربر", align: "right", value: "name" },
					{ text: "پست اکترونیکی کاربر", align: "right", value: "email" },
					{ text: "نام پروژه", align: "right", value: "name" },
					{ text: "توضیحات", align: "right", value: "description" }
				]
			};
		},
		mounted() {
			UserService.getProjects().then(
				response => {
					this.projects = response.data.data;
				},
				error => {
					this.projectsContent = error.response.data.message;
				}
			);
		}
	};
</script>
