<template>
	<div class="Tasks">
		<v-container>
			<v-layout row wrap>
				<v-flex>
					<h1 class="subheading grey--text text-lg-right">کارها</h1>
					<v-card flat color="success">
						<v-data-table :headers="headers" :items="tasks" class="elevation-1" item-key="id">
							<template v-slot:items="props">
								<td class="text-xs-right">{{ props.item.id }}</td>
								<td class="text-xs-right">{{ props.item.title }}</td>
								<td class="text-xs-right">{{ props.item.description }}</td>
								<td class="text-xs-right">{{ props.item.start_time }}</td>
								<td class="text-xs-right">{{ props.item.deadline }}</td>
								<td class="text-xs-right">{{ props.item.reject }}</td>
								<td class="text-xs-right">{{ props.item.done }}</td>
							</template>
						</v-data-table>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
	import axios from "axios";
	import UserService from "../services/user.service";
	export default {
		name: "Tasks",
		data() {
			return {
				dialog: false,
				people: [],
				userId: [],
				taskId: "",
				tasks: [],
				headers: [
					{
						text: "ردیف",
						align: "right",
						value: "id"
					},
					{ text: "عنوان", value: "title" },
					{ text: "توضیحات", value: "description" },
					{
						text: "تاریخ شروع",
						value: "start_time",
						dataType: "Date",
						locale: "fa"
					},
					{
						text: "مهلت تحویل",
						value: "deadline",
						dataType: "Date",
						locale: "fa"
					},
					{ text: "زمان برگشت", value: "reject", dataType: "Date", locale: "fa" },
					{ text: "تاریخ اتمام", value: "done", dataType: "Date", locale: "fa" },
					{ text: "نام پروژه", value: "project_id" },
					{ text: "نام کاربر", value: "user_id" },
					{ text: "اولویت", value: "status_id" },
					{ text: "وضعیت", value: "priority_id" }
				]
			};
		},
		mounted() {
			UserService.getTasks().then(
				response => {
					this.tasks = response.data;
				},
				error => {
					this.tasks = error.response.data.message;
				}
			);
			UserService.getPeople().then(
				response => {
					this.people = response.data;
				},
				error => {
					this.people = error.response.data.message;
				}
			);
		}
	};
</script>
