<template z-index="-100000">
	<div>
		<v-dialog max-width="700px" v-model="dialog">
			<v-btn slot="activator" color="pink" dark large absolute bottom left fab>
				<v-icon>add</v-icon>
			</v-btn>
			<v-card>
				<v-card-title primary-title>
					<h2 class="subheading blue--text text-lg-right">نسبت دادن کار به شخص</h2>
				</v-card-title>
				<v-card-text>
					<v-form>
						<label>
							<h3 class="subheading grey--text text-lg-right">لطفا کار مورد نظر را انتخاب کنید</h3>
						</label>
						<v-select
							clearable
							color="success"
							:items="task"
							v-model="AssignTask.taskId"
							item-text="title"
							item-value="id"
						/>
						<v-spacer />
						<label>
							<h3 class="subheading grey--text text-lg-right">لطفا کاربران مورد نظر را انتخاب کنید</h3>
						</label>
						<v-select
							clearable
							color="success"
							multiple
							v-model="AssignTask.userId"
							:items="user"
							item-text="username"
							item-value="id"
						/>
						<v-btn color="success" @click="saveForm()">ارسال</v-btn>
						<v-btn color="error" @click="dialog=false">بستن</v-btn>
					</v-form>
				</v-card-text>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
	import UserService from "../services/user.service";
	import Axios from "axios";
	import authHeader from "../services/auth-header";
	export default {
		data() {
			return {
				dialog: false,
				loading: false,
				user: [],
				task: [],
				AssignTask: {
					userId: [],
					taskId: ""
				}
			};
		},
		methods: {
			saveForm() {
				this.loading = true;
				let app = this;
				let NewAssignTask = this.AssignTask;
				Axios.post(
					"api/auth/assignTaskUser/store",
					{
						input: {
							taskId: this.AssignTask.taskId,
							userId: this.AssignTask.userId
						}
					},
					{ headers: authHeader() }
				).then(response => {
					this.$emit("TaskAssigned");
					this.loading = false;
					this.dialog = false;
					console.log("کارها با موفقیت نسبت داده شدند");
				});
			}
		},
		mounted() {
			UserService.getTasks().then(response => {
				this.task = response.data;
				console.log(response);
			});
			UserService.getPeople().then(response => {
				this.user = response.data;
				console.log(response);
			});
		}
	};
</script>
