<template z-index="-100000">
	<div>
		<v-dialog max-width="750px" v-model="dialog">
			<v-snackbar v-model="snackbarError" :timeout="4000" top color="error">
				<span>{{snackbarText}}</span>
				<v-btn flat color="white" @click="snackbar = false" right>بستن</v-btn>
			</v-snackbar>

			<v-btn slot="activator" flat class="success">کار جدید</v-btn>
			<v-card>
				<v-card-title>
					<h2>اضافه کردن وظیفه جدید</h2>
				</v-card-title>
				<v-card-text>
					<v-form ref="form">
						<v-spacer />
						<h2 class="subheading grey--text text-lg-right">عنوان</h2>
						<v-text-field v-model="tasks.title" prepend-icon="folder" :rules="inputRules"></v-text-field>
						<v-spacer />
						<h2 class="subheading grey--text text-lg-right">توضیحات</h2>
						<v-textarea v-model="tasks.description" prepend-icon="edit" :rules="inputRules"></v-textarea>
						<v-spacer />
						<v-layout>
							<h2 class="subheading grey--text text-lg-right">نام پروژه</h2>
							<v-select
								:items="projectsContent"
								item-text="name"
								v-model="tasks.project_id"
								item-value="id"
							/>
							<v-spacer />
							<h2 class="subheading grey--text text-lg-right">وضعیت</h2>
							<v-select
								:items="statusContent"
								item-text="caption"
								v-model="tasks.status_id"
								item-value="id"
							/>
							<v-spacer />
							<h2 class="subheading grey--text text-lg-right">اولویت</h2>
							<v-select
								:items="priorityContent"
								item-text="caption"
								v-model="tasks.priority_id"
								item-value="id"
							/>
						</v-layout>
						<v-spacer />
						<v-layout>
							<div>
								<v-label>تاریخ شروع</v-label>
								<date-picker v-model="tasks.start_time" />
								<v-label>مهلت تحویل</v-label>
								<date-picker v-model="tasks.deadline" />
								<v-label>تاریخ انقضای قرارداد</v-label>
								<date-picker v-model="tasks.reject" />
								<v-label>تاریخ پایان</v-label>
								<date-picker v-model="tasks.done" />
							</div>
						</v-layout>
						<v-btn @click="saveForm" flat class="success mx-0 mt-3">اضافه کردن کار</v-btn>
						<v-btn flat @click="dialog=false" class="warning right mx-0 mt-3">بستن</v-btn>
					</v-form>
				</v-card-text>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
	import axios from "axios";
	import UserService from "../services/user.service";
	import authHeader from "../services/auth-header";
	import VuePersianDatetimePicker from "vue-persian-datetime-picker";

	export default {
		name: "Projects",
		components: {
			datePicker: VuePersianDatetimePicker
		},
		data() {
			return {
				peopleContent: [],
				priorityContent: [],
				statusContent: [],
				projectsContent: [],
				tasks: {
					title: "",
					description: "",
					status_id: "",
					project_id: "",
					priority_id: "",
					start_time: "",
					deadline: "",
					reject: "",
					done: ""
				},
				inputRules: [
					v => !!v || "This field is required",
					v => v.length >= 3 || "Minimum length is 3 characters"
				],
				dialog: false,
				loading: false,
				snackbarError: false,
				snackbarSuccess: false,
				snackbarText: ""
			};
		},
		methods: {
			saveForm() {
				this.loading = true;
				let app = this;
				let NewTask = app.tasks;
				axios
					.post("api/auth/newtask/create", NewTask, { headers: authHeader() })
					.then(response => {
						this.$emit("projectAdded");
						this.loading = false;
						this.dialog = false;
						console.log("پروژه با موفقیت اضافه شد");
					});
			}
		},
		mounted() {
			UserService.getPeople().then(
				response => {
					this.peopleContent = response.data;
				},
				error => {
					this.peopleContent = error.response.data.message;
				}
			);
			UserService.getPriority().then(
				response => {
					this.priorityContent = response.data;
				},
				error => {
					this.priorityContent = error.response.data.message;
				}
			);
			UserService.getStatus().then(
				response => {
					this.statusContent = response.data;
				},
				error => {
					this.statusContent = error.response.data.message;
				}
			);
			UserService.getProjects().then(
				response => {
					this.projectsContent = response.data.data;
				},
				error => {
					this.projectsContent = error.response.data.message;
				}
			);
		}
	};
</script>
