<template>
	<!--Begin Navbar-->
	<nav>
		<!--SnackBar-->
		<v-snackbar v-model="snackbar" :timeout="4000" top color="success">
			<span>{{snackbarTexts}}</span>
			<v-btn flat color="white" @click="snackbar = false" right>بستن</v-btn>
		</v-snackbar>
		<!--Toolbar-->
		<v-toolbar flat app>
			<v-toolbar-side-icon @click="drawer = !drawer" class="red--text hidden-sm-and-down" />
			<v-toolbar-title class="red--text">
				<span class="font-weight-bolder right mx-5 hidden-sm-and-down">پروکا</span>
				<v-spacer />
				<span class="font-weight-lighter right mx-1 hidden-sm-and-down">سیستم مدیریت کار</span>
			</v-toolbar-title>

			<v-spacer />

			<!--Dropdown Menu-->
			<v-menu offset-y class="hidden-md-and-up">
				<v-btn flat color="red" slot="activator">
					<v-icon left>expand_more</v-icon>
					<span>ابزار</span>
				</v-btn>
				<v-list>
					<v-list-tile>
						<Popup @projectAdded="snackbar = true" />
					</v-list-tile>
					<v-list-tile>
						<createTask @projectAdded="snackbar = true" />
					</v-list-tile>
				</v-list>
			</v-menu>
			<!--End Menu-->

			<!--Dropdown Menu-->
			<v-menu offset-y>
				<v-btn flat color="red" slot="activator">
					<v-icon left>expand_more</v-icon>
					<span>برو به</span>
				</v-btn>
				<v-list>
					<v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
						<v-list-tile-title class="red--text">{{link.text}}</v-list-tile-title>
					</v-list-tile>
				</v-list>
			</v-menu>
			<!--End Menu-->
			<!--Exit Button-->
			<v-btn flat color="red" v-on:click="logOut">
				<v-icon left>exit_to_app</v-icon>
				<span class="red--text">خروج</span>
			</v-btn>
			<!--End Exit Button-->
		</v-toolbar>
		<!--End Toolbar-->
		<!--Begin Drawer-->
		<v-navigation-drawer v-model="drawer" app right class="blue-gradient">
			<!--Begin Profile User-->
			<v-layout column align-center>
				<v-flex class="mt-5">
					<v-avatar size="100">
						<img src="/avatar-1.png" alt />
					</v-avatar>
					<p class="subheading white--text mt-1 mx-3">{{userContent.name}}</p>
				</v-flex>
				<v-flex class="mt-1 mb-1">
					<Popup @projectAdded="snackbar = true" />
				</v-flex>
				<v-flex class="mt-1 mb-1">
					<createTask @projectAdded="snackbar = true" />
				</v-flex>
			</v-layout>
			<!--End Profile User-->
			<!--Begin Route List-->
			<v-list>
				<v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
					<v-list-tile-action>
						<v-icon class="white--text left">{{ link.icon }}</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title class="white--text right">{{ link.text }}</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
			<!--End Route List-->
		</v-navigation-drawer>
		<!--End Navigation Drawer-->
		<AssignTask @TaskAssigned="snackbar = true" />
	</nav>
	<!--End Navbar-->
</template>

<script>
	import createTask from "./createTask.vue";
	import Popup from "./Popup.vue";
	import UserService from "../services/user.service.js";
	import AssignTask from "./AssignTask.vue";

	export default {
		components: { createTask, Popup, AssignTask },
		computed: {
			loggedIn() {
				return this.$store.state.auth.status.loggedIn;
			}
		},
		created() {
			if (this.loggedIn) {
				this.$router.push("/dashboard");
			}
		},
		mounted() {
			if (this.loggedIn) {
				this.$router.push("/dashboard");
			}
			UserService.getUserBoard().then(
				response => {
					this.userContent = response.data;
				},
				error => {
					this.userContent = error.response.data.message;
				}
			);
		},
		methods: {
			logOut() {
				this.$store.dispatch("auth/logout");
				this.$router.push("/register");
			}
		},
		data() {
			return {
				userContent: [],
				snackbarTexts: "درخواست شما با موفقیت ارسال شد",
				drawer: false,
				snackbar: false,
				links: [
					{ icon: "dashboard", text: "داشبورد", route: "/dashboard" },
					{ icon: "folder", text: "پروژه های من", route: "/projects" },
					{ icon: "person", text: "کارهای من", route: "/task" }
				]
			};
		}
	};
</script>
