<template z-index="-100000">
	<v-dialog max-width="700px" v-model="dialog">
		<v-snackbar v-model="snackbar" :timeout="4000" top color="error">
			<span>{{snackbarText}}</span>
			<v-btn flat color="white" @click="snackbar = false" right>بستن</v-btn>
		</v-snackbar>

		<v-btn slot="activator" flat class="success">پروژه جدید</v-btn>
		<v-card>
			<v-card-title class="font-weight-bold white-ic blue-gradient">اضافه کردن پروژه جدید</v-card-title>
			<v-card-text>
				<v-form class="px-3" ref="form">
					<h2 class="subheading grey--text text-lg-right">نام پروژه</h2>
					<v-text-field v-model="projects.name" prepend-icon="folder" :rules="inputRules" />
					<h2 class="subheading grey--text text-lg-right">توضیحات</h2>
					<v-textarea v-model="projects.description" prepend-icon="edit" :rules="inputRules"></v-textarea>
					<v-spacer />
					<v-btn flat @click="saveForm" class="success mx-0 mt-3" :loading="loading">ارسال پروژه</v-btn>
					<v-btn flat @click="dialog=false" class="warning right mx-0 mt-3">بستن</v-btn>
				</v-form>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
	import axios from "axios";
	import authHeader from "../services/auth-header";
	export default {
		name: "Popup",
		data() {
			return {
				users: [],
				projects: {
					name: "",
					description: ""
				},
				inputRules: [
					v => !!v || "This field is required",
					v => v.length >= 3 || "Minimum length is 3 characters"
				],
				dialog: false,
				loading: false,
				snackbar: false,
				snackbarText: "نمیتوانیم پروژه شما را ذخیره کنیم"
			};
		},
		methods: {
			saveForm() {
				if (this.$refs.form.validate()) {
					this.loading = true;
					let app = this;
					let NewProject = app.projects;
					axios
						.post("api/auth/newproject/create", NewProject, {
							headers: authHeader()
						})
						.then(response => {
							this.$emit("projectAdded");
							this.loading = false;
							this.dialog = false;
							console.log("پروژه با موفقیت اضافه شد");
						});
				} else {
					this.snackbar = true;
					console.log("نمیتوانیم پروژه شما را اضافه کنیم");
				}
			}
		}
	};
</script>
