<template>
	<div class="container container-fluid">
		<h1>UpdatePerson</h1>
		<v-form>
			<vs-row vs-justify="center">
				<vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
					<vs-card>
						<vs-input class="xs12" v-model="updatePerson.first_name" name="first_name" label="نام" />
						<vs-input v-model="updatePerson.last_name" name="last_name" label="نام خانوادگی" />
						<vs-select
							:items="items"
							v-model="updatePerson.gender"
							label="جنسیت"
							name="gender"
							item-text="text"
						>
							<vs-select-item
								:key="index"
								:value="item.text"
								:text="item.text"
								v-for="item,index in options1"
							/>
						</vs-select>

						<pdatepicker
							class="container"
							v-model="updatePerson.birth_date"
							format-date="yyyy-MM-dd"
							name="birth_date"
							label="تاریخ تولد"
						/>
						<vs-input v-model="updatePerson.phone" name="phone" label="تلفن" />
						<MenuIcon class="icon-2x" />
						<v-btn color="success" @click="saveForm()">
							<NavIcon class="icon-2x" />
						</v-btn>
					</vs-card>
				</vs-col>
			</vs-row>
			<v-card class="container mx-2">
				<v-card-title primary-title>title</v-card-title>
				<vs-row vs-type="flex">
					<vs-col vs-order="3" vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
						<v-card-text>
							{{updatePerson}}
							<vs-input class="xs12" v-model="updatePerson.first_name" name="first_name" label="نام" />
							<vs-input v-model="updatePerson.last_name" name="last_name" label="نام خانوادگی" />
							<vs-select
								:items="items"
								v-model="updatePerson.gender"
								label="جنسیت"
								name="gender"
								item-text="text"
							>
								<vs-select-item
									:key="index"
									:value="item.text"
									:text="item.text"
									v-for="item,index in options1"
								/>
							</vs-select>

							<pdatepicker
								class="container"
								v-model="updatePerson.birth_date"
								format-date="yyyy-MM-dd"
								name="birth_date"
								label="تاریخ تولد"
							/>
							<vs-input v-model="updatePerson.phone" name="phone" label="تلفن" />
							<MenuIcon class="icon-2x" />
							<v-btn color="success" @click="saveForm()">
								<NavIcon class="icon-2x" />
							</v-btn>
						</v-card-text>
					</vs-col>
				</vs-row>
			</v-card>
		</v-form>
	</div>
</template>

<script>
	import UserService from "../services/user.service";
	import authHeader from "../services/auth-header";
	import MenuIcon from "vue-material-design-icons/MenuOpen";
	import NavIcon from "vue-material-design-icons/ArrowUpBold";
	import MDBTable from "mdbvue/lib/components/mdbTbl/index.js";
	export default {
		name: "UpdatePerson",
		components: { MenuIcon, NavIcon, MDBTable },
		data() {
			return {
				person: "",
				options1: [{ text: "مذکر" }, { text: "مونث" }],
				updatePerson: {
					user_id: "",
					username: "",
					first_name: "",
					last_name: "",
					gender: "",
					birth_date: "",
					phone: "",
					email: "",
					photo_url: ""
				}
			};
		},
		methods: {
			saveForm() {
				axios
					.post(
						"api/auth/updatePerson",
						{
							first_name: this.updatePerson.first_name,
							last_name: this.updatePerson.last_name,
							gender: this.updatePerson.gender,
							birth_date: this.updatePerson.birth_date,
							phone: this.updatePerson.phone
						},
						{ headers: authHeader() }
					)
					.then(response => {
						console.log("پروفایل شما با موفقیت بروزرسانی شد");
					});
			}
		},
		mounted() {
			UserService.getPerson().then(
				Response => {
					this.updatePerson = Response.data[0];
				},
				error => {
					this.updatePerson = error.response.data.message;
				}
			);
			console.log("component loaded");
		}
	};
</script>

<style lang="scss">
.material-design-icon.icon-2x {
	height: 2em;
	width: 2em;
}

.material-design-icon.icon-2x > .material-design-icon__svg {
	height: 2em;
	width: 2em;
}
</style>
